package ${package}.${moduleName}.pojo.dto;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.time.LocalDate;
import java.time.LocalDateTime;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.NoArgsConstructor;
import java.io.Serializable;
/**
 * <p>
 * ${comments}
 * </p>
 * @description: ${comments}
 * @author: ${author}
 * @date: Created in ${datetime}
 * @copyright: Copyright (c) ${year}
 */
@Data
@NoArgsConstructor
@ApiModel(description = "${className}DTO")
public class ${className}DTO implements Serializable {
    private static final long serialVersionUID = 1L;

    @ApiModelProperty(value = "分页编号")
    private Integer pageNumber;

    @ApiModelProperty(value = "分页尺寸")
    private Integer pageSize;
  #foreach ($column in $columns)
    /**
     * $column.comments
     */
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.lowerAttrName;
  #end

}
